Repository Kusitms-POPTATO-DEV/Poptato_Server_V2, pull requests merged in 2024-11, with the labels that each got.

#6 Refactor#4: 어제 한 일 반환값 추가
  src/main/java/server/poptato/todo/application/response/PaginatedYesterdayResponseDto.java
  src/main/java/server/poptato/todo/application/response/YesterdayResponseDto.java
  src/test/java/server/poptato/todo/application/TodoBacklogServiceTest.java
Labels: refactor

#9 Feat#8: 프로필 이미지 반환
  src/main/java/server/poptato/auth/application/service/AuthService.java
  src/main/java/server/poptato/external/oauth/SocialUserInfo.java
  src/main/java/server/poptato/external/oauth/kakao/dto/response/KakaoUserResponse.java
  src/main/java/server/poptato/external/oauth/kakao/service/KakaoSocialService.java
  src/main/java/server/poptato/user/application/response/UserInfoResponseDto.java
  src/main/java/server/poptato/user/converter/UserDtoConverter.java
  src/main/java/server/poptato/user/domain/entity/User.java
  src/test/java/server/poptato/user/application/UserServiceTest.java
Labels: feat

#2 Feat#1: 히스토리 날짜별 조회
  hs_err_pid15120.log
  hs_err_pid33544.log
  replay_pid15120.log
  replay_pid33544.log
  src/main/java/server/poptato/todo/api/TodoBacklogController.java
  src/main/java/server/poptato/todo/application/TodoBacklogService.java
  src/main/java/server/poptato/todo/domain/repository/CompletedDateTimeRepository.java
  src/main/java/server/poptato/todo/domain/repository/TodoRepository.java
  src/main/java/server/poptato/todo/infra/repository/JpaCompletedDateTimeRepository.java
  src/main/java/server/poptato/todo/infra/repository/JpaTodoRepository.java
  src/test/java/server/poptato/todo/api/TodoBacklogControllerTest.java
  src/test/java/server/poptato/todo/api/TodoControllerTest.java
  src/test/java/server/poptato/todo/application/TodoBacklogServiceTest.java
  src/test/java/server/poptato/todo/domain/repository/TodoRepositoryTest.java
Labels: feat

#11 Feat#2: 캘린더 날짜 조회
  src/main/java/server/poptato/todo/api/TodoBacklogController.java
  src/main/java/server/poptato/todo/api/TodoController.java
  src/main/java/server/poptato/todo/application/TodoBacklogService.java
  src/main/java/server/poptato/todo/application/TodoService.java
  src/main/java/server/poptato/todo/application/response/HistoryCalendarListResponseDto.java
  src/main/java/server/poptato/todo/domain/repository/CompletedDateTimeRepository.java
  src/main/java/server/poptato/todo/domain/repository/TodoRepository.java
  src/main/java/server/poptato/todo/infra/repository/JpaCompletedDateTimeRepository.java
  src/test/java/server/poptato/todo/api/TodoBacklogControllerTest.java
  src/test/java/server/poptato/todo/api/TodoControllerTest.java
  src/test/java/server/poptato/todo/application/TodoBacklogServiceTest.java
  src/test/java/server/poptato/todo/application/TodoServiceTest.java
  src/test/java/server/poptato/todo/domain/repository/CompletedDateTimeRepositoryTest.java
  src/test/java/server/poptato/todo/domain/repository/TodoRepositoryTest.java
Labels: feat

#16 Fix#15: 할일-카테고리 관계 테이블 제거
  src/main/java/server/poptato/category/api/CategoryController.java
  src/main/java/server/poptato/category/application/CategoryService.java
  src/main/java/server/poptato/category/domain/repository/CategoryRepository.java
  src/main/java/server/poptato/category/infra/JpaCategoryRepository.java
  src/main/java/server/poptato/todo/domain/entity/Todo.java
  src/main/java/server/poptato/todo/domain/entity/TodoCategory.java
  src/test/java/server/poptato/category/domain/repository/CategoryRepositoryTest.java
Labels: fix

#17 Feat#14: 백로그 목록 조회 2차 버전으로 수정
  src/main/java/server/poptato/category/application/CategoryService.java
  src/main/java/server/poptato/category/validator/CategoryValidator.java
  src/main/java/server/poptato/todo/api/TodoBacklogController.java
  src/main/java/server/poptato/todo/application/TodoBacklogService.java
  src/main/java/server/poptato/todo/domain/repository/TodoRepository.java
  src/main/java/server/poptato/todo/infra/repository/JpaTodoRepository.java
  src/test/java/server/poptato/todo/api/TodoBacklogControllerTest.java
  src/test/java/server/poptato/todo/application/TodoBacklogServiceTest.java
  src/test/java/server/poptato/todo/domain/repository/TodoRepositoryTest.java
Labels: feat

#21 Feat#20: 달성여부 변경 API 2차 버전으로 수정
  src/main/java/server/poptato/todo/application/TodoService.java
  src/main/java/server/poptato/todo/domain/entity/Todo.java
  src/test/java/server/poptato/todo/application/TodoServiceTest.java
Labels: feat

#23 Feat#22: 할 일 반복설정 여부 변경 기능 구현
  src/main/java/server/poptato/todo/api/TodoController.java
  src/main/java/server/poptato/todo/application/TodoService.java
  src/main/java/server/poptato/todo/domain/entity/Todo.java
  src/test/java/server/poptato/todo/application/TodoServiceTest.java
Labels: feat

#25 Feat#24: 백로그 생성 기능 2차 버전 반영
  src/main/java/server/poptato/todo/api/request/BacklogCreateRequestDto.java
  src/main/java/server/poptato/todo/application/TodoBacklogService.java
  src/main/java/server/poptato/todo/domain/entity/Todo.java
  src/test/java/server/poptato/todo/api/TodoBacklogControllerTest.java
  src/test/java/server/poptato/todo/application/TodoBacklogServiceTest.java
Labels: feat

#27 Feat#26: 카테고리 드래그앤드롭 기능 구현
  src/main/java/server/poptato/category/api/CategoryController.java
  src/main/java/server/poptato/category/api/request/CategoryDragAndDropRequestDto.java
  src/main/java/server/poptato/category/application/CategoryService.java
  src/main/java/server/poptato/category/domain/entity/Category.java
  src/main/java/server/poptato/category/domain/repository/CategoryRepository.java
  src/main/java/server/poptato/category/exception/errorcode/CategoryExceptionErrorCode.java
  src/main/java/server/poptato/category/infra/JpaCategoryRepository.java
  src/main/java/server/poptato/todo/api/TodoController.java
  src/main/java/server/poptato/todo/api/request/TodoDragAndDropRequestDto.java
  src/main/java/server/poptato/todo/application/TodoBacklogService.java
  src/main/java/server/poptato/todo/application/TodoService.java
  src/main/java/server/poptato/todo/infra/repository/JpaTodoRepository.java
  src/test/java/server/poptato/category/application/CategoryServiceTest.java
  src/test/java/server/poptato/todo/api/TodoControllerTest.java
  src/test/java/server/poptato/todo/application/TodoServiceTest.java
Labels: feat

#32 Refactor: 투두 디테일 수정
  src/main/java/server/poptato/todo/application/TodoService.java
  src/main/java/server/poptato/todo/application/response/TodoDetailResponseDto.java
  src/main/java/server/poptato/todo/application/response/YesterdayResponseDto.java
  src/main/java/server/poptato/todo/converter/TodoDtoConverter.java
  src/test/java/server/poptato/todo/application/TodoBacklogServiceTest.java
  src/test/java/server/poptato/todo/application/TodoServiceTest.java
Labels: refactor

#36 Fix#35: 투데이 목록 조회, 카테고리 목록 조회 응답 데이터 추가
  src/main/java/server/poptato/category/application/response/CategoryResponseDto.java
  src/main/java/server/poptato/todo/application/response/TodayResponseDto.java
Labels: fix

#34 Feat#33: 스케줄러 2차 기능 반영
  src/main/java/server/poptato/todo/application/TodoScheduler.java
  src/main/java/server/poptato/todo/domain/entity/Todo.java
  src/test/java/server/poptato/todo/application/TodoSchedulerTest.java
Labels: feat

#42 Feat#39: 푸쉬알림 기능 구현
  .github/workflows/ci.yml
  .gitignore
  build.gradle
  src/main/java/server/poptato/auth/application/service/AuthService.java
  src/main/java/server/poptato/external/firebase/config/FirebaseConfig.java
  src/main/java/server/poptato/external/firebase/service/FCMService.java
  src/main/java/server/poptato/todo/application/TodoScheduler.java
  src/main/java/server/poptato/todo/domain/repository/TodoRepository.java
  src/main/java/server/poptato/todo/infra/repository/JpaTodoRepository.java
  src/main/java/server/poptato/user/domain/entity/Mobile.java
  src/main/java/server/poptato/user/domain/entity/User.java
  src/main/java/server/poptato/user/domain/repository/MobileRepository.java
  src/main/java/server/poptato/user/domain/repository/UserRepository.java
Labels: feat

#44 fix: 회원가입할 때도 url https 로 수정
  src/main/java/server/poptato/auth/application/service/AuthService.java
  src/main/java/server/poptato/user/domain/entity/User.java
Labels: fix

#46 Fix: fcm token 저장
  src/main/java/server/poptato/auth/application/service/AuthService.java
  src/main/java/server/poptato/todo/application/TodoScheduler.java
  src/main/java/server/poptato/user/domain/entity/Mobile.java
  src/main/java/server/poptato/user/domain/repository/MobileRepository.java
Labels: fix

#48 Feat: test fcm emoji
  src/main/java/server/poptato/emoji/api/controller/EmojiController.java
  src/main/java/server/poptato/todo/api/TodoController.java
  src/main/java/server/poptato/todo/application/TodoScheduler.java
Labels: feat, test

#50 fix: 반복설정
  src/main/java/server/poptato/todo/api/TodoController.java
  src/main/java/server/poptato/todo/application/TodoScheduler.java
Labels: fix

#56 Fix: 스케줄러 backlog order 수정
  src/main/java/server/poptato/todo/api/TodoController.java
  src/main/java/server/poptato/todo/application/TodoScheduler.java
Labels: fix
